<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista de Afiliados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-white p-4">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="formLibro">Registrar Libro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="infoLibro">Informacion del Libro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="listarEntregas">Informacion de los Libros Prestados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="crearEntrega">Registrar Libros Prestados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="listarAfiliados">Ver Afiliados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="crearForm">Registrar Afiliados</a>
                </li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!--TABLAS-->
    <div class="container mt-3">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>Credencial</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Tipo Afiliacion</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="afiliado : ${afiliados}">
                <td th:text="${afiliado.credencial}"></td>
                <td th:text="${afiliado.name}"></td>
                <td th:text="${afiliado.direccion}"></td>
                <td th:text="${afiliado.tipoAfiliacion}"></td>
                <td>
                    <a th:href="@{/edit/} + ${afiliado.credencial}" class="btn btn-success">Actualizar</a>
                    <a th:href="@{/del/} + ${afiliado.credencial}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>